<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Enter New Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>

<br><br><br>
<div align="center">
    <h1 ><b>Create New Intern Result</b></h1>
    <br />
    
    <br><br><br>
     <div class="col-sm-4">
    <form action="#" th:action="@{/save}" th:object="${student}" method="post">
 
      
 		<div alight="left">
            <tr>
                <label class="form-label" ><b>Intern Name</b></label>
                <td>
	                <input type="hidden" th:field="*{id}" />
	                <input type="text" th:field="*{studentname}" class="form-control" placeholder="Intern Name" />
                </td>
            </tr>
         </div>   
            
          	<div alight="left">
          
            <tr>
                 <label class="form-label" ><b>Employee Id</b></label>
                <td><input type="text" th:field="*{r_no}" class="form-control" placeholder="Employee Id" /></td>
            </tr>
            </div> 
            <div alight="left">
                 <tr>
                 <label class="form-label" ><b>Marks</b></label>
                <td><input type="text" th:field="*{marks}" class="form-control" placeholder=" Marks " /></td>
            </tr>
            </div> 
			<br>
            <tr>
            <td colspan="2"><button type="submit" class="btn btn-info">Save</button> </td>
            </tr>
        </table>
    </form>
    
    <div class="col-sm-5" align = "center" >	
	 <div class="panel-body" align = "center" >
		<thead class="thead-dark">	
    <h3><a  th:href="@{'/'}">See all Record</a></h3>
    </thead>
	    </div>
	    </div>

</div>
</body>
</html>